/*
*Name : Mahedavi Rakib
*Student Number : 8981270
*/

body{
    font: 20px;
    background-color: goldenrod;
    height: 10px;
    width: 250px;
}



h2{
    color: ;
    font-size: 30px;
}

